main{
    background-color: #DDE2E6;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main .section-one{
    width: 50%;
}


main h3{
    color: #B0CF72;
    text-transform: uppercase;
}

main .status{
    color: #000 !important;
    font-size: 1em !important;
    font-weight: bolder;
}

.section-one .row-type-one{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.section-one .row-type-one div{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.section-one .row-type-one div h2{
    font-size: 2.3em;
    margin: 0;
}

.section-one .row-type-one div:nth-child(1){
    text-align: center;
}

.section-one .row-type-one div h3{
    font-size: 1.4em;
    margin: 0;
}

.section-one .row-type-one div:nth-child(1),
.section-one .row-type-one div:nth-child(2){
    width: 23%;
}

.section-one .row-type-one div:nth-child(3){
    width: 44%;
}
.section-one .row-type-one div:nth-child(3) h4{
    font-weight: bolder;
    text-transform: uppercase;
    color: #9da2a5;
}

.section-one .active{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
}

.section-one .active h3{
    margin: 0 !important;
    padding: 0 !important;
}

.base-text{
    color: #9da2a5;
    margin: 0 !important;
}

main i{
    color: #B0CF72;
}

.row-type-two{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}

.row-type-two section:nth-child(1) div,
.row-type-two section:nth-child(2) div{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.row-type-two section{
    width: 48%;
    margin-right: 1em;
}

.row-type-two section:nth-child(2){
    display: flex !important;
    justify-content: space-between !important;
}
.row-type-two section:nth-child(2) div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    height: 92%;
    width: 100%;
    overflow: hidden;
}

.row-type-two section:nth-child(2) p{
    margin: 0 !important;
}


.row-type-two .flex-title{
    display: flex;
    justify-content: space-between;
}

.row-type-two h4{
    color: #9da2a5;
}

.row-type-two .flex-title button{
    border: 1px solid #9da2a5;
    color: #9da2a5;
    background-color: transparent;
    height: 30px;
    padding: 5px 10px !important;
    border-radius: 10px;
    cursor: pointer;
}

.row-type-two .d-color{
    color: #9da2a5 !important;
}

main .section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    main {
        flex-direction: column;
    }
    main section{
        width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    main{
        margin: 0 !important;
        padding:  0 !important;
    }
    .row-type-one,
    .row-type-two {
        flex-direction: column;
    }
    .row-type-one > *,
    .row-type-two > *{
        width: 100% !important;
    }

    .row-type-one div{
        margin-bottom: 1em;
    }


}

